<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lokadin.sandy.example.com.lokadin">

    <!-- meminta permission pada android, biasanya Android 6.0 Marshmellow 6.0 permission sangat ketat sehingga perlu diminta dahulu-->
    <uses-permission android:name="com.example.maprani.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/marker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCpX_QADIi1XoLujkA4CqlmHh8VimfyHuQ" /> <!--API KEY GOOGLE MAPS ANDROID DEV-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!--VERSI GOOGLE PLAY SERVICE-->
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".MapsActifity"
            android:label="@string/app_name"></activity>
        <activity android:name=".HomeItem"/>
        <activity android:name=".LokadinDetailActifity"/>
        <activity android:name=".AboutActifity"/>
        <activity android:name=".MapsInfowindows"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".Comment"/>

    </application>

</manifest>